/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: Trebuchet MS,Ubuntu;
}

h2 {
  font-weight: bold;
  color:var(--main-highlight-color);
  font-size:120%;
  text-transform: uppercase;
}

.inline {
  display:inline-block;
}

.margin-right-10 {
  margin-right:10px;
}

button:focus {
  outline:1px solid var(--seethrough-black);
  border-radius:0;
}

.highlightText {
  font-weight: bold;
  color:var(--main-highlight-color);
}

.highlightTextBold {
  font-weight: bold;
  color:var(--main-highlight-color);
  border-bottom: 2px solid var(--secondary-highlight-color);
}

.downplayText {
  font-weight: bold;
  color:var(--seethrough-black);
}

.fullWidth {
  width:100%;
}

// Global notifications
.notifications{
  position: fixed;
  left: 0;
  top: 0;
  width:100%;
  
}

.notification {
  width: 40%;
  padding:1rem;
  margin: auto;

  padding-top: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 9px 30px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 30px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 30px -6px rgba(0,0,0,0.75);
}

.notification.error {
background-color:red;  
}

.notification.success {
  background-color:green;  
  }

.notification.info {
  background-color:lavender;  
  }

 .notificationCloseBtn {
  background: transparent;
  border: none;
  float: right;
  position: relative;
  font-size: 125%;
  top: -20px;
  left: 20px;
  cursor: pointer;
 } 