.pwidContainer{
  padding:2rem;
}

.copyToClipboard {
  display: block;
  height: 30px;  /*height of icon */
  width: 30px;  /*width of icon */
  cursor: pointer;
  float:left;

}

.copyToClipboardText{
  font-size:150%;
  margin: 0 0 2rem 0;
  cursor: pointer;
  color:var(--main-highlight-color);
  text-decoration: underline;
}

.copyContainer{
  margin: 0 0 2rem 0;
  padding: 0 0 2rem 0;
  border-bottom: 1px dashed black
}

.clipBoardIcon {
  background: url(../assets/icons/Font_Awesome_5_regular_clipboard.svg) no-repeat 0px 0px;
}

.checkmarkIcon {
  background: url(../assets/icons/Icons8_flat_checkmark.svg) no-repeat 0px 0px;
}