.resultAndFacetContainer {
  width:100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.resultContainer, .facetContainer, .marginContainer {
  padding:15px;
  box-sizing: border-box;
}


.singleEntryResult {
  -webkit-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.65);
  margin-bottom:20px;
  margin-top:15px;
  padding:25px;
  border-left:4px solid var(--secondary-bg-color);
  border-right: 2px solid var(--secondary-bg-color);
}

.singleEntryResult:after {
  content:'';
  display:block;
  position:absolute;
  box-sizing: border-box;
  height:15px;
  width:15px;
  border-top:15px solid transparent;
  border-left:15px solid var(--secondary-bg-color);
  border-bottom:15px solid var(--secondary-bg-color);
  border-right:15px solid transparent;
  margin-left:-29px;
  margin-top:-5px;
}

.informationDivider {
  width:100%;
  border-color:transparent transparent #fff6c4 transparent;
  height:1px;
}

.SingleResultEntry {
  padding-top:15px;
  padding-bottom:15px;
}

.SingleEntryAllData .table {
  display: table; 
  margin-top:15px;
}

.SingleEntryAllData .tr { 
  display: table-row;
}

.SingleEntryAllData .td.clickAble { 
  cursor: pointer;
}

.SingleEntryAllData .td.clickAble:hover { 
  background-color:var(--secondary-highlight-color)
}

.SingleEntryAllData .tr:nth-child(even) {
  background-color:rgba(30,30,30,0.05);
}

.SingleEntryAllData .tr:nth-child(odd) {
  background-color:white;
}

.SingleEntryAllData .td { 
  display: table-cell;
  min-width:200px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:5px;
}

.SingleEntryAllData .td.content {
	display: block;
	overflow: hidden;
}

.SingleEntryAllData .table button {
  cursor: pointer;
  border:0px solid transparent;
  border-bottom:2px solid var(--secondary-text-color);
  background-color: transparent;
}

.SingleEntryAllData .table .contentButton {
  margin-left: 5px;
	margin-bottom: 10px;
}

.SingleEntryAllData .table .attributeButton {
  margin-top: 10px;
}

.SingleEntryAllData .td.content .singleEntry {
  border-bottom:2px solid transparent;
  word-break: break-all;
}

.SingleEntryAllData .td.content .singleEntry.hidden {
  display:none;
}

.SingleEntryAllData .td.content .singleEntry:hover {
  border-bottom:2px solid var(--secondary-text-color)
}

.SingleEntryAllData hr {
  margin-top:15px;
  margin-bottom:-5px;
}

.SingleEntryStandardInfo .scoreInfo {
  float:right;
  margin-left:10px;
}

.SingleEntryStandardInfo .scoreInfo .textAlignRight {
  text-align: right;
}

.SingleEntryStandardInfo .entryInfo {
  padding-bottom:5px;
  padding-top:5px;
}

.SingleEntryStandardInfo .entryInfo.type {
  text-transform: lowercase;
}

.entryInfo .attri {
  width:50px;
  display:inline-block;
  font-weight: bold;
  color:var(--secondary-text-color);
  text-transform: capitalize;
}


.SingleEntryStandardInfo .snippetContainer {
  padding:5px;
}

.SingleEntryStandardInfo .titleInfo {
  text-transform: uppercase;
  font-size:130%;
}

.SingleEntryStandardInfo .titleInfo a {
  color: var(--secondary-text-color);
  text-decoration-color: var(--secondary-highlight-color);
}

.SingleEntryStandardInfo, .SingleEntryStandardInfo .domainInfo, .SingleEntryStandardInfo .typeInfo, .imageInfo {
  margin-right:3px;
  margin-left:3px;
}

.SingleEntryStandardInfo .snippetHighlight {
  font-style: italic;
  display:inline-block;
}

.SingleEntryStandardInfo .snippetHighlight em {
  font-weight:bold;
  color:var(--main-highlight-color);
  border-bottom: 2px solid var(--secondary-highlight-color);
}

.showAllButtonContainer {
  width:100%;
  height:30px;
}

.showAllButtonContainer button, .singleEntryImages button, .pagingContainer button, .exportContent .downloadButton {
  float:right;
  border:2px solid var(--secondary-bg-color);
  border-radius: 0;
  background-color:white;
  color:var(--secondary-bg-color);
  padding:5px 10px 5px 10px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  cursor:pointer;
  box-sizing: border-box;
  transition:all 0.2s linear 0s;
}

.pagingContainer button {
  float:none;
  margin-left:5px;
  margin-right:5px;
  width:100px;
}

.exportContent .downloadButton {
  width:100%;
  text-align: center;
  text-decoration:none;
}

.pagingContainer button:disabled {
  color: rgba(30,30,30,0.5);
	border: 2px solid rgba(30,30,30,0.5);
}

.pagingContainer button:disabled:hover {
  color: rgba(30,30,30,0.5);
  border: 2px solid rgba(30,30,30,0.5);
  background-color:white;
  cursor:default;
}


.pagingContainer {
  margin-top: 15px;
  text-align: center;
}

.tonedDownText {
  color:rgba(30,30,30, 0.5)
}

.showAllButtonContainer button:hover, .singleEntryImages button:hover, .pagingContainer button:hover, .exportContent .downloadButton:hover {
  border:2px solid var(--secondary-bg-color);
  color:white;
  background-color:var(--secondary-bg-color);
  transition:all 0.2s linear 0s;
}

.facets {
  flex-direction: column;
	display: flex;
}

.facetCategoryName {
  //display:block;
  color:var(--secondary-bg-color);
  font-weight: bold;
}

.facetCategory {
  display: inline-block;
	vertical-align: top;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 0px;
	flex: 1 1 0;
}

.facetItem {
  float: left;
  margin-right: 5px;
  margin-left:15px;
	white-space: nowrap;
	overflow: hidden;
	max-width: 85%;
	text-overflow: ellipsis;
  cursor: pointer;
  text-transform: lowercase;
}

.facetItem:before {
  content:'•';
  color:var(--secondary-bg-color);
}

.facetCount {
  //flex:0 1 auto;
  //display:inline-block;
  color: rgba(30, 30, 30, 0.5);
  //font-weight: initial;
}

.facetItem, .facetCount {
  padding-top:5px;
  padding-bottom:5px;
}

.selectedFacets div:first-of-type {
  margin-left:0px;
}

.selectedFacets .displayedFacet {
  padding: 5px 0px 5px 0px;
  display:inline-block;
  margin:0px 5px 0px 5px;
  border-bottom: 2px solid var(--secondary-bg-color);
  box-sizing: border-box;
}

.selectedFacets .displayedFacet button {
  box-sizing: border-box;
	border: 2px solid var(--secondary-bg-color);
	color: var(--secondary-bg-color);
	background-color: white;
	margin-left: 10px;
	font-weight: bold;
	cursor: pointer;
}

.selectedFacets .displayedFacet span:nth-of-type(2) {
  color: var(--main-highlight-color);
	font-weight: bold;
}

.singleEntryImages {
  width:100%;
  height:auto;
  display: flex;
  flex-wrap: wrap;
}

.singleEntryImages .singleEntryImagesHeadline {
  margin-top:20px;
  width:100%;
}

.singleEntryImages .singleEntryImagesHeadline .imageHeadline {
  margin-right:10px;
}

.singleEntryImagesHeadline p {
  display:inline-block
}

.singleEntryImages .previewImageContainer {
  display: inline-block;
  margin: 1em;
  flex-grow: 0;
  width: calc(25% -  2em);
  background-color: rgb(255, 250, 223);
	//border-left: 1px solid var(--secondary-highlight-color);
  box-sizing: border-box;
  height:200px;
}

.singleEntryImages .previewImageHidden {
  display:none;
}

.singleEntryImages .previewImage {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.singleEntryImages .previewImage:after, .previewImageContainer .imageEntry:after { 
  content: "Image broken";
  font-size: 16px;
  color: rgb(100, 100, 100);
  text-align:center;
  display: block;
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 250, 223);
}

.singleEntryImages img {
  object-fit: cover;
  cursor: pointer;
  box-sizing: border-box;
  ////box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
  //test
  display: block;
	margin-left: auto;
	margin-right: auto;
  //max-height: 200px;
	//max-width: 100%;
  //filter: saturate(0) sepia(1) hue-rotate(180deg) contrast(1.5);
}

.searchSingleItemFocusImage {
  position: fixed;
  background-color:rgba(30,30,30,0.9);
  width:100vw;
  height:100vh;
  top:0px;
  left:0px;
  z-index:1;
  margin:0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchSingleItemFocusImage img {
  position:relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height:auto;
  width:auto;
  cursor:default;
  max-width: 100%;
  max-height: calc(100% - 20px);
  margin-top: 10px;
  margin-bottom:10px;
  z-index:100;
}

.singleEntryImages button {
  float:initial;
  margin-left:15px;
}

.searchSingleItemFocusImage button {
  float:right;
  position: absolute;
  top:0px;
  width:40px;
  height:40px;
  left:calc(100% - 80px);
  margin-top:10px;
  font-size:130%;
}

.images {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.images .column {
  flex: calc(33.3% - 8px);
  max-width: calc(33.3% - 8px);
  padding: 0 4px;
}

.images .column .columnImageContainer {
  border:5px solid #fffadf;
  margin-top:5px;
  margin-bottom:5px;
  padding-bottom:0px;
  background-color:#fffadf;
  min-height:50px;
  transition: all 300ms linear 0s;
  cursor:pointer;
}


.images .column .columnImageContainer img {
  object-fit: cover;
  max-width: calc(100% - 10px);
  box-sizing: border-box;
  //padding:5px;
  //width: calc(100% - 20px) !important;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: all 300ms linear 0s;
}

.images .column .columnImageContainer:hover {
  transition: all 300ms linear 0s;
  padding-bottom:0px;

}

.images .column .columnImageContainer:hover .number {
  transition: all 300ms linear 0s;
  opacity:1;
}

.images .column .columnImageContainer:hover .imageButtonContainer {
  transition: all 300ms linear 0s;
  height:42px;
  opacity:1;
  padding-top:10px;
  padding-bottom:5px;
}

.images .column .columnImageContainer .number {
  color:var(--main-highlight-color);
  position: relative;
  height:20px;
  opacity:0;
  transition: all 300ms linear 0s;
  text-align: right;
}

.images .imageButtonContainer {
  position: relative;
  height:20px;
  opacity:0;
  overflow:hidden;
  text-align: center;
  padding-top:0px;
  padding-bottom:0px;
  transition: all 300ms linear 0s;
  margin-left: 5px;
	margin-right: 5px;
}

.images .imageButtonContainer button {
  background-color: white;
	//box-shadow: inset 0 0 7px var(--seethrough-black);
  border-radius: 0% 0 0% 0;
  border:0px solid transparent;
	color:var(--main-highlight-color);
  float: right;
  background-color:transparent;
	position: relative;
	cursor: pointer;
  margin:0px 1%;
  cursor:pointer;
  text-transform: uppercase;
  width:100%;
  margin-left:0px;
  margin-right:5px;
  text-align: center;
  font-size: 80%;
  padding:1px 0;
}

.images .imageButtonContainer button:first-of-type {
  margin-left:5px;
  margin-right:0px;
}

.images .imageButtonContainer button:hover span {
  font-weight:bold;
}
.singleEntryResult .imageEntry {
  max-width:200px;
  max-height: 200px;
  text-align: center;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.singleEntryResult .typePreview.twitter {
  background-color: black;
	background-image: url('../icons/twitter.svg');
}

.singleEntryResult .typePreview.image {
	background-image: url('../icons/image.svg');
}

.singleEntryResult .typePreview.web {
	background-image: url('../icons/web.svg');
}

.singleEntryResult .typePreview {
  height: 20px;
	position: relative;
	width: 20px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: auto;
  background-position: center;
  top: 2px;
  margin-right:5px;
}

.downloadSearchResultButton, .exportButton {
  border:0px solid transparent;
  box-sizing: border-box;
  padding:5px 0px;
  background-color: transparent;
  font-size: 100%;
  //border-bottom:2px solid var(--main-highlight-color);
  float:right;
  transition:all .2s linear 0s;
}

.exportButton {
  text-decoration: none;
  display:block;
  font-size:70%;
  font-weight: bold;
  width:calc(100% - 11px);
  cursor: pointer;
  color:white;
  border-top:2px solid transparent;
  border-bottom:2px solid transparent;
  border-left:2px solid var(--main-highlight-color);
  border-right:2px solid var(--main-highlight-color);
  text-align: inherit;
}
.exportButton:first-of-type {
  border-top:2px solid var(--main-highlight-color);

}

.exportButton:hover {
  color: var(--main-highlight-color);
  border:2px solid var(--main-highlight-color);
  background-color:white !important;
  //border-bottom:2px solid var(--secondary-highlight-color);
}

.downloadSearchResultDropdown {
  display: block;
  box-sizing: border-box;
	right: calc(20% + 14px);
	position: absolute;
	width: 150px;
	height: 31px;
  overflow: hidden;
  transition:all .2s linear 0s;
  background-color:transparent;
  margin-bottom:5px;
  border-left:1px solid transparent;
  border-bottom:1px solid transparent;
  border-right:1px solid transparent;
  padding-bottom:15px;
  z-index: 1;
}

.downloadSearchResultDropdown:hover {
  height:110px;
  //box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.65);
  //border-left:1px solid var(--main-highlight-color);
  //border-bottom:1px solid var(--main-highlight-color);
  //border-right:1px solid var(--main-highlight-color);
}

.downloadSearchResultDropdown:hover .exportButton {
  background-color: var(--main-highlight-color);
  z-index:1;
}

.csvExportOptions {
  position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(30, 30, 30, 0.8);
	top: 0px;
  left: 0px;
  z-index:10;
}

.csvExportOptions .csvExportContent {
  top:0px;
  left:0px;
  position: relative;
  width:80vw;
  height:80vh;
  margin:10vh 10vw;
  padding:10px;
  overflow-y:scroll;
  background-color:white;
	display: grid;
	grid-template-columns: 10% 20% 30% 30% 10%;
}

.csvExportContent .exportContent {
  padding:10px;
}

.csvExportContent .exportContent .fieldItem {
  margin-top:5px;
  margin-bottom:5px;
  box-sizing: border-box;
  border:2px solid var(--main-highlight-color);
  padding:10px 5px;
}

.csvExportContent .exportContent .fieldItem.actions {
  border:0px solid transparent;
  float:right;
  height:100%;
  margin:0px;
  padding:0px;
  left: 5px;
  top: -4px;
	position: relative;
}

.csvExportContent .exportContent .fieldItem:hover .fieldItem.actions button {
  transition:all 0.2s linear 0s;
  opacity:1;
}

.csvExportContent .exportContent .fieldItem.actions button {
  cursor:pointer;
  padding:2px 5px;
  background-color: var(--main-highlight-color);
  border:2px solid var(--main-highlight-color);
  margin:2px 5px;
  color:white;
  font-weight: bold;
  opacity:0;
  transition:all 0.2s linear 0s;
  box-sizing: border-box;
}

.csvExportContent .exportContent .fieldItem.actions button:hover {
  background-color:white;
  border:2px solid var(--main-highlight-color);
  color: var(--main-highlight-color);
}


.csvExportOptions .closeButton {
  position: fixed;
	right: 15px;
  top: 15px;
  box-sizing: border-box;
	border: 2px solid var(--secondary-bg-color);
	color: var(--secondary-bg-color);
	background-color: white;
	margin-left: 10px;
	font-weight: bold;
  cursor: pointer;
  width: 40px;
	height: 40px;
	font-size: 120%;
}
