:root {
  --main-bg-color: #CAF0FE;
  --secondary-bg-color: #002E70;
  --main-text-color: #303030;
  --secondary-text-color: #002E70;
  --main-highlight-color: #002E70;
  --secondary-highlight-color: #fff6c4;
  --seethrough-black: rgba(30,30,30,0.6);
}