.idea
.DS_Store
solrwayback.iml
solrwayback.properties
target
/.classpath
/deployLocalTomcat.sh
/.settings/
/.project
/deployBelindaTomcat.sh
/deployTeg.sh
/solrwayback.log
/temp/
/bugs.txt
/deployWindows.bat


# Webapp

src/js/.DS_Store
src/js/node_modules
src/js/dist

# local env files
src/js/.env.local
src/js/.env.*.local

# Log files
src/js/npm-debug.log*
src/js/yarn-debug.log*
src/js/yarn-error.log*


#deployToTest
src/js/deployToTest.sh

# Editor directories and files
src/js/.idea
src/js/.vscode
src/js/*.suo
src/js/*.ntvs*
src/js/*.njsproj
src/js/*.sln
src/js/*.sw?


/deployTegLocal.sh
