<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="5 minutes">
        <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
         <File>${catalina.home}/logs/solrwayback.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger\(%file:%line\) - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${catalina.home}/logs/solrwayback.log.%i</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

 <!--Shut them up-->    
    <logger name="org" level="WARN"/>
    <logger name="com.kennycason.kumo" level="WARN"/>


    <root level="debug">
        <appender-ref ref="R" />
    </root>

</configuration>


