h1{
  margin: 0 0 1em;
}

.tableContainer{
     overflow: hidden;
}

table{
     float: left;
     margin: 2em 0;
}

td, th{
  background-color: #f0f0f0;
  border: 1px solid white;
    border-left: 0;
     padding: .2em;
}

table.monthLabels td, th{
  background-color: white;
}

td.empty{
  border-color: transparent;
}

td.activityLevel1, .legend.legend1 {
    background: #d6e685;
}

td.activityLevel2, .legend.legend2 {
    background: #8cc665;
}

td.activityLevel3, .legend.legend3 {
    background: #44a340;
}

td.activityLevel4, .legend.legend4 {
    background: #1e6823;
}

/* Legends */
#legends{
  clear: both;
  margin: 2em 0;
}

.legend{
  background-color: #f0f0f0;
  display: inline-block;
  height: 1.5em;
  margin: 0 .3em;
  vertical-align: bottom;
  width: 2.5em;
}

/*Spinner*/
#overlay{
  background-color: black;
  opacity: .8;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
}

#spinner{
  background-color: white; /*url(../images/loader90.gif) no-repeat*/
  border: 1px solid #ccc;
  height: 125px;
  /*left: calc(50% - 250px);*/
  padding: 1em;
  position: fixed;
  text-indent: 140px;
  top: 10%;
  width: 500px;
  z-index: 500;
}

.spinnerText{
  font-size: 18px;
  margin-top: 50px;
}
 

// <v-tooltip less>
// source: https://akryum.github.io/vue-tooltip/
.tooltip {
  display: none;
  opacity: 0;
  // transition: opacity .15s;
  pointer-events: none;
  padding: 4px;
  z-index: 10000;

  .tooltip-content {
    background: black;
    color: white;
    // border-radius: 16px;
    padding: 5px 10px 4px;
  }

  &.tooltip-open-transitionend {
    display: block;
  }

  &.tooltip-after-open {
    opacity: 1;
  }
}
// </v-tooltip less>
