.calendar .month-container{
     height: 220px
}

.tableContainer{
     overflow: hidden;
}

table{
     float: left;
     margin: 2em 0;
}

td, th{
     border: 1px solid #cccccc;
     padding: .5em 1em;
}

td.many, td.few{
     background: #006600;
     color: white;
}

td.activityLevel1 {
    background: #006600;
    color: white;
    opacity: .25;
}

td.activityLevel2 {
    background: #006600;
    color: white;
    opacity: .50;
}

td.activityLevel3 {
    background: #006600;
    color: white;
    opacity: .75;
}

td.activityLevel4 {
    background: #006600;
    color: white;
    opacity: 1;
}
 

/* Added from https://akryum.github.io/vue-tooltip/ (which is LESS, and then we have compiled it here http://winless.org/online-less-compiler) */
.tooltip {
  display: none;
  opacity: 0;
  pointer-events: none;
  padding: 4px;
  z-index: 10000;
}

.tooltip .tooltip-content {
  background: black;
  color: white;
  padding: 5px 10px 4px;
}

.tooltip.tooltip-open-transitionend {
  display: block;
}

.tooltip.tooltip-after-open {
  opacity: 1;
}
