<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tag search</title>

    <link rel="stylesheet" type="text/css" media="all" href="./css/solrwayback.css">

    <script type="text/javascript" src="js/chart-min-3.2.1.js"></script>

    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/vue-resource.min.js"></script>

</head>

<body>
<div class="wrapper" id="app">

    <header-container :set-tags="setTags" :tags="tags" :clear-tags="clearTags" :error-msg="errorMsg"></header-container>
    <chart-container></chart-container>
    <table-container :data-arrays="dataArrays"></table-container>

    <div v-if="spinner" id="overlay"></div>
    <div v-if="spinner" id="spinnerVue">Loading...</div>

</div>


<!-- This include must be at bottom -->
<script type="text/javascript" charset="utf-8" src="js/app-tags.js"></script>

</body>
</html>