<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

        <title>SOLR Wayback Search</title>
        <link rel="stylesheet" type="text/css" media="all" href="./css/solrwayback.css">

        <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>

        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript" src="js/vue-resource.min.js"></script>
</head>
<body>
    <div class="wrapper" id="app">
        <h1>SOLR Wayback Search</h1>

        <search-box :setup-search="setupSearch" :my-query="myQuery" :image-search="imageSearch" :clear-search="clearSearch"></search-box>


        <selected-facets-box v-if="facetFields.length > 0 && !imageSearch" :facet-fields="facetFields" :setup-search="setupSearch"
                             :my-query="myQuery" :clear-facets="clearFacets"></selected-facets-box>

        <error-box v-if="errorMsg" :error-msg="errorMsg"></error-box>


        <facet-box v-if="totalHits > 0 && myQuery && !errorMsg && !imageSearch" :my-facets="myFacets" :my-query="myQuery"
                   :setup-search="setupSearch"></facet-box>


        <zerohits-box v-if="totalHits == 0 && searchResult && myQuery != '' && myQuery && !imageSearch" :my-query="myQuery"></zerohits-box>

        <div class="result" v-if="myQuery && !errorMsg && !imageSearch">

            <pager-box v-if="searchResult" :setup-search="setupSearch" :total-hits="totalHits" :start="start" :my-query="myQuery"
                       :filters="filters" :disabled-prev="disabledPrev"  :disabled-next="disabledNext" :show-spinner="showSpinner"
                       :hide-spinner="hideSpinner" :image-search="imageSearch"></pager-box>

            <result-box v-if="totalHits > 0" :search-result="searchResult" :image-objects="imageObjects"
                        :setup-search="setupSearch" :clear-facets="clearFacets"></result-box>


            <pager-box  v-if="totalHits > 21" :setup-search="setupSearch" :total-hits="totalHits" :start="start"
                        :disabled-prev="disabledPrev"  :disabled-next="disabledNext" is-bottom="true"></pager-box>
        </div>

        <div class="result images" v-if="myQuery && !errorMsg && imageSearch">

            <pager-box v-if="searchResult" :setup-search="setupSearch" :total-hits="totalHits" :start="start" :my-query="myQuery"
                       :filters="filters" :disabled-prev="disabledPrev"  :disabled-next="disabledNext" :show-spinner="showSpinner"
                       :hide-spinner="hideSpinner" :image-search="imageSearch"></pager-box>

            <result-box-images :search-result="searchResult" :setup-search="setupSearch" :clear-facets="clearFacets"></result-box-images>

        </div>

        <div v-if="spinner" id="overlay"></div>
        <div v-if="spinner" id="spinnerVue">Loading...</div>

    </div>
<!-- This include must be at bottom -->
<script type="text/javascript" charset="utf-8" src="js/app.js"></script>
</body>
</html>