# Add this line to tomcat/conf/logging.properties to get debug log for the rewritevalve
# org.apache.catalina.core.ContainerBase.[Catalina].[localhost].level = FINE

RewriteCond %{REQUEST_URI} !^/solrwayback/static/.*
RewriteCond %{REQUEST_URI} !^/solrwayback/services/.*
RewriteRule ^. /index.html [L]
RewriteRule ^.calendar*$ /index.html [L]
RewriteRule ^.pageharvestdata*$ /index.html [L]
RewriteRule ^.pwid*$ /index.html [L]
RewriteRule ^.search*$ /index.html [L]
RewriteRule ^.linkgraph*$ /index.html [L]


