# Add this line to tomcat/conf/logging.properties to get debug log for the rewritevalve
# org.apache.catalina.core.ContainerBase.[Catalina].[localhost].level = FINE

RewriteCond %{REQUEST_URI} !^/solrwayback/static/.*
RewriteCond %{REQUEST_URI} !^/solrwayback/services/.*
RewriteRule ^.*$ /solrwayback_index_page.html [L]
