<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>dk.kb.netarchivesuite.solrwayback.service</display-name>
  
  <listener>  
      <listener-class>dk.kb.netarchivesuite.solrwayback.listeners.Log4JContextListener</listener-class>
   </listener>
  
   <listener>
      <listener-class>dk.kb.netarchivesuite.solrwayback.listeners.InitializationContextListener</listener-class>
   </listener>
         
  <servlet>
    <servlet-name>SolrWayback Service</servlet-name>
    <servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>dk.kb.netarchivesuite.solrwayback.service.SolrWaybackApplication</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>SolrWayback Service</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>

  
  <welcome-file-list>
    <welcome-file>vuesearch.jsp</welcome-file>
  </welcome-file-list>
   
   <error-page>
       <error-code>404</error-code>
         <location>/leakingForward.jsp</location>
   </error-page>


</web-app>
